# NodeJS module folder
/node_modules/

# Build folder
/dist/

# Built HTML files
/src/**/*.html

# MacOS file
.DS_Store

# logs
*.log

# IntelliJ IDE ignore
.idea

# Visual Studio Code
.vscode
.history

# Coverage directory used by tools like istanbul
coverage
