{{#extend "base"}}

{{#content "title"}}
Examples page
{{/content}}

{{#content "body"}}
<div class="container mx-auto">{{{breadcrumbs "Examples"}}}</div>

<script src="/js/examples-page.js"></script>
{{/content}}

{{/extend}}