{{#extend "base"}}
	{{#content "title"}}
		Index title
	{{/content}}

	{{#content "body"}}
		Hello world
		<br />
		{{#ifeq data.number 1}}
			<h1>True</h1>
			{{else}}
				<h2>False</h2>
		{{/ifeq}}
		title: {{data.title}}
		<br /> body: {{data.body}}
		<br /> this is a partial: {{> partone }} this is another partial: {{> parttwo part="two"}} this is a sample image:
		<div>
			<img src="/img/sample.png" alt="sample image">
		</div>
	{{/content}}
{{/extend}}
