<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kestab HTML website</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	Hello world<br />{{#ifeq data.number 1}}<h1>True</h1>{{else}}<h2>False</h2>{{/ifeq}}
	title: {{data.title}}<br />
	body: {{data.body}}<br />
	this is a partial: {{> partone }}
	this is another partial: {{> parttwo part="two"}}
	this is a sample image: <img src="img/sample.png">
	<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
